* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: montserrat, sans-serif;
}

.page-wrap {
  display: flex;
  min-height: 100vh;
}

.image {
  height: 50vh;
  animation: moveInUp 1s ease-out;
}

.left-panel {
  flex: 1 1 66.666%;
  background-image: linear-gradient(to bottom right, #106923, #abda11);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-panel .illustration {
  margin-bottom: 50px;
}

.left-panel h2 {
  color: #FFF;
  font-size: 48px;
  font-weight: 400;
  text-align: center;
}

.left-panel h3 {
  color: #FFF;
  font-size: 20px;
  font-weight: 200;
  text-align: center;
}
.right-panel {
  flex: 1 1 33.333%;
  padding: 25px;
}

.right-panel h1 {
  color: #0cec04;
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 50px;
}

.right-panel h1 strong {
  color: #04700d;
  font-weight: 900;
}

.animated-form h3 {
  color: #666;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 45px;
}

.animated-form .form-group {
  position: relative;
  display: flex;
  margin-bottom: 45px;
}

.form-group.flex-end {
  justify-content: flex-end;
}

.animated-form .form-group label {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  color: #AAA;
  font-size: 20px;
  transition: 0.4s ease-out;
}

.animated-form .form-group input {
  display: block;
  width: 100%;
  padding: 10px 0px;
  border: none;
  outline: none;
  background: none;
  border-bottom: 3px solid #AAA;

  color: #666;
  font-size: 20px;
  transition: 0.4s ease-out;
}

.animated-form .form-group:focus-within label,
.animated-form .form-group.has-content label {
  top: 0px;
  transform: translateY(-100%);
  color: #2a9400;
}

.animated-form .form-group:focus-within input, 
.animated-form .form-group.has-content input {
  border-bottom-color: #2a9400;
}
.animated-form .form-group.flex-end {
  margin-bottom: 25px;
}
.animated-form .form-group .button {
  display: inline-block;
  width: auto;
  padding: 15px 60px;
  border: 3px solid #2a9400;
  border-radius: 999px;
  background-image: linear-gradient(to right, transparent 50%, #1e5d00 50%, #5eff58);
  background-size: 200%;

  color: #2a9400;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
}

.animated-form .form-group .button:hover {
  color: #FFF;
  background-position: 100%;
  border: 3px solid #FFF;
}

.custom-select {
  position: relative;
  display: inline-block;
  font-size: 20px;
  color: #2a9400;
  margin-bottom: 25px;
  transition: 0.4s ease-out;
}

.custom-select select {
  display: block;
  width: 250px;
  min-height: 35px;
  background: #cbffcf;
  border-radius: 3px;
  border: 2px solid #007a39;
  outline: none;
  padding: 0 20px 0 10px;
  margin-top: 5px;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}

.custom-select::after {
  content: '';
  border-width: 5px;
  border-style: solid;
  border-color: transparent;
  border-top-color: #222;
  display: inline-block;
  border-radius: 2px;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.custom-select .selector-options {
  list-style: none;
  padding: 5px 0;
  margin: 0;
  background: #116b3b;
  color: #fff;
  border-radius: 4px;
  z-index: 1;
  width: 96%;
  position: absolute;
  left: 2%;
  top: 35%;
}

.custom-select .selector-options li {
  height: 35px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.custom-select .selector-options li:hover {
  background: #8cf403;
}

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(7rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}