<html>
	<body>
		<form action = '/login' method = 'get'>
			<input type = 'submit' value = 'login'>
		</form>
		<form action = '/signup' method = 'get'>
			<input type = 'submit' value = 'signup'>
		</form>
	</body>
</html>
