<html>
	<body>
		<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
		<div class="wrapper wrapper--w680">
			<div class="card card-4">
			<div class="card-body">
			<center><h2 class="title">Sign Up Form</h2></center>
			<form method="POST">
			<div class="row row-space">
				<div class="col-2">
					<div class="input-group">
					<label class="label">Username</label>
					<input class="input--style-4" type = 'text' name = 'username' placeholder = 'username' required>
					</div>
				</div>			
			</div>
			<div class="row row-space">
				<div class="row row-space">
						<div class="col-2">
							<div class="input-group">
								<label class="label">Password</label>
								<input class="input--style-4" type = 'password' name = 'password' placeholder = 'password' required>
							</div>
						</div>
						<div class="col-2">
							<div class="input-group">
								<label class="label">Retype - Password</label>
								<input class="input--style-4" type = 'password' name = 'check_password' placeholder = 'retype-password' required>
							</div>
						</div>
					</div>
				<div class="input-group">
					<label class="label">Profession</label>
					<div class="rs-select2 js-select-simple select--no-search">
						<select id="profession" name="profession" tabindex="-1" class="select2-hidden-accessible" aria-hidden="true">
							<option disabled="disabled" selected="selected">Choose option</option>
							<option value="teacher">Teacher</option>
							<option value="student">Student</option>
						</select>
					<div class="select-dropdown"></div>
				</div>
				<div class="p-t-15">
					<button class="btn btn--radius-2 btn--blue" type="submit" value = 'signup'>Submit</button>
				</div>
			</form>
			</div>
			</div>
			</div>
			</div>
	</body>
	<link rel="stylesheet" href="/stylesheets/signuppage.css" />
</html>
